* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: grey;
    text-align: center;
    padding: 25px;
}
header h1{
    float: left;
}
nav{
    background-color: rgb(49, 47, 47);
    text-align: center;
    padding: 10px;
}
.navbar{
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}
li{
    text-decoration: none;
    margin: 5px;
}
a{
    text-decoration: none;
    color: white;
}
aside{
    width: 25%;
    padding: 10px;
    float: left;
}
section{
    width: 40%;
    padding: 10px;
    float: left;
}
article{
    width: 35%;
    padding: 10px;
    float: left;
}
footer{
    display: block;
    clear: both;
    background-color: grey;
    text-align: center;
    padding: 25px;
    margin: 40px 0 40px;
}
p{
    margin: 10px 0 0;
}
th, td{
    border: 1px solid;
}
.table{
    text-align: center;
}
img{
    width: 100px;
}
main .table{
    text-align: center;
}